@font-face {
    font-family: 'Gilroy-Bold';
    src: url('Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('Gilroy-Light.ttf');
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('Gilroy-UltraLight.ttf');
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('Gilroy-Thin.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('Gilroy-Black.ttf');
}

.dashboard-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

    .dashboard-container h1 {
        font-size: 50px;
        color: #003b6b;
        font-family: 'Gilroy-SemiBold';
        margin-bottom: 25px;
    }

.profile-container {
    display: flex;
    align-items: center;
    width: 1000px; /* Aumenta a largura do container */
    height: 450px; /* Aumenta a altura do container */
    padding: 30px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px darkgray;
    justify-content: center;
    background-color: #f9f9f9; /* Fundo leve para destacar o container */
}

.profile-card {
    text-align: center;
    margin-right: 20px;
    width: 600px;
}

.profile-icon img {
    width: 200px; /* Maior tamanho do ícone do perfil */
    height: 220px;
    margin-bottom: 20px;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; /* Aumenta o espaço entre os botões */
    justify-content: center;
    width: 800px; /* Aumenta o tamanho do container das opções */
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy-SemiBold';
    background-color: #3f84af;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    width: 250px; /* Aumenta a largura */
    height: 100px; /* Aumenta a altura */
    text-align: center;
    text-decoration: none;
    
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

    .option-button:hover {
        background-color: #356b8a; /* Fica um pouco mais escuro ao passar o mouse */
        color: white; /* Mantém o texto branco */
        text-decoration: none; /* Remove qualquer sublinhado */
        transform: scale(1.05); /* Aumenta levemente o botão */
    }

    .option-button span {
        text-decoration: none;
    }

    .option-button .iconcarrinho,
    .option-button .iconcompras,
    .option-button .iconfavoritos,
    .option-button .iconsair {
        width: 70px; /* Aumenta os ícones */
        height: 70px;
        margin-right: 15px;
    }

h1 {
    text-align: center;
    color: #003C5C;
    font-family: Gilroy-SemiBold;
    font-size: 60px;
    margin: 60px 0;
}

.botao-admin {
    background-color: #3A85B2;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    height: 60px;
    margin-left: 20px;

}

.secondary-navbar {
    background-color: #003C5C;
    text-align: center;
    font-family: 'Gilroy-SemiBold';
    margin-top: -16px;
    height: 90px;
}

/* Ajustes para o texto */
.carrinho,
.compras,
.favoritos,
.sair {
    font-size: 22px; /* Tamanho maior do texto */
    margin-right: 30px;
    font-family: 'Gilroy-SemiBold';
}
